.HexTile {
  @apply inline-block;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);

  font-size: initial; /* we reset the font-size if we want to add some content */
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.HexTile:nth-child(2n) {
  @apply bg-gray-500;
}

.HexTile:nth-child(2n-1) {
  @apply bg-gray-600;
}
